.header-background{
    background: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)), url(../img/about_background.jpg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
}
/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.home_content{
    text-align: center;
}
.home_heading{
    margin: 0;
    font-size: 7.2rem;
    color: var(--white-color);
    font-weight: 750;
    line-height: 1.2;
}

/*  */
.search_container-item-extra{
    padding-top: 40px;
    width: 100%;
}

.search_extra-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    padding: 10px 20px;
}
.search_extra-item input[type="checkbox"]{
    height: 15px;
    width: 15px;
    background-color: var(--white-color);
    border: 1px solid rgb(255, 255, 255);
    appearance: none;
    margin-right: 50px;
    cursor: pointer;
}
.search_extra-item input[type="checkbox"]:checked::after{
    content: "";
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: rgb(250, 158, 27);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
}
.search_extra-item label{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 550;
    cursor: pointer;
}

/* offers */
.offers_container-filter{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(45, 44, 44);
}
.offers_container-filter-list, 
.offers_container-filter-item--list {
    list-style: none;
    text-decoration: none;
}
.offers_container-filter-item{
    position: relative;
    display: inline-block;
    height: 48px;
    width: 148px;
    line-height: 48px;
    border: 2px solid rgb(218, 218, 218);
    padding-left: 25px;
    padding-right: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
.distance{
    width: 234px !important;
}
.offers_container-filter-item i{
    color: var(--des-color);
    float: right;
    line-height: 48px;
}
.offers_container-filter-item--list{
    cursor: pointer;
    display: none;
    position: absolute; 
    right: 0; 
    top: 106%;
    margin: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 15px 25px rgb(63 78 100 / 15%);
    box-shadow: 0 15px 25px rgb(63 78 100 / 15%);
    animation: down linear 0.5s;
    
}

.offers_container-filter-item:hover .offers_container-filter-item--list{
    display: block;
}
.offers_container-filter-item--list li span:hover{
    color: #b5aec4;;
}
.offers_container-filter-item--list li {
    display: block;
    /* position: absolute; */
    width: 100%;
    opacity: 1;
    /* box-shadow: 0 15px 25px rgb(63 78 100 / 15%); */
    text-align: center;
    padding: 0px 15px;
}

.offers_container-filter-item ul li span{
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #ddd;
    color: #51545f;
    text-align: left;
    transition: all .3s ease;
}

.offers_container{
    padding-bottom: 50px;
}
.offers_item-bg{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.offers_item-wrap{
    padding-bottom: 0 ;
}
.offers_item-container{
    margin-left: 0;   
    position: relative;
}

.search_btn{
    background-color: #31124b;
    z-index: 1;
    margin-top: 30px;
    margin-right: 78%;
}
.search_btn:hover{
    opacity: 0.8;
}
.search_btn-bg{
    text-align: center;
}
.btn-bg{
    background-color: #31124b !important;
}
.offers_review{
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
}
.offers_review-content{
    font-size: 1.4rem;
    font-weight: 700;
}
.offers_review-title{
    color: var(--black-color);
    text-transform: uppercase;
    padding-bottom: 10px;
}
.offers_review-content span{
    color: var(--des-color);
}
.offers_review-point{
    font-size: 2.8rem;
    font-weight: 600;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 15px;
    margin-left: 10px;
}